.main_background {
  background-image: url('../../assets/e0ca5c5387a0175e8ffe963b1a03fa8b5024586f-4320x2700.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  p {
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
    width: 80%;
  }
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: 'Playfair Display', sans-serif;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: rgba(24, 24, 24);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.hover-underline-animation:before {
  content: '';
  background: rgba(24, 24, 24, 0.8);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  transition: all 0.3s ease-in-out;
}

.hover-underline-animation:hover::before {
  width: 100%;
}
