.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 11;
}

.main_background {
    background-image: url('./assets/3a627ce5fc85e0ec7f8270faa476649b81bb9237-8032x5357.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-link {
    font-family: 'Oxanium', sans-serif;
    font-size: 1.3rem;
    text-transform: lowercase;
}

.gradient-text {
    background: linear-gradient(to right, #b88eedff, #a068e7ff, #945be5ff, #884ee2ff, #6d3cd7ff, #5531b5ff, #41268dff, #2c1b65ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

.parallax-el {
    position: absolute;
    object-fit: cover;
    width: 50px;
    z-index: 0;
}

.qa-width {
    width: calc(50% - 2rem);
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: rgba(24, 24, 24);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.hover-underline-animation:before {
    content: '';
    background: rgba(24, 24, 24, 0.8);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1.5px;
    transition: all 0.3s ease-in-out;
}

.hover-underline-animation:hover::before {
    width: 100%;
}

.filter-item {
    border-radius: 20px;
    border: 1px solid #030303;
    padding: 0.25rem 1rem;
    width: fit-content;
}

.active-filter-item {
    border-radius: 20px;
    border: 1px solid #030303;
    padding: 0.25rem 1rem;
    width: fit-content;
    background: rgba(24, 24, 24, 0.8);
    color: #f7f7f7;
}

.product-gif {
    display: none;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-in-out;
}

.discover-btn {
    display: none;
    position: absolute;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    background: #f1f1ee;
    color: #030303;
    border-radius: 0;
}

.img-container:hover > .product-gif {
    display: block;
}

.slogan {
    position: absolute;
    left: auto;
    right: auto;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    font-family: "Syne", sans-serif;
    font-weight: 800;
    justify-content: center;
    mix-blend-mode: difference;
    color: #f7f7f7;
    font-size: 4vw;
}

.product-container:hover > .discover-btn {
    display: block;
}

.ball {
    position: absolute;
    height: 20px;
    width: 20px;
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar {
    background: transparent;
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #030303;
    border-radius: 10px;
    border: 3px solid #fff;
}

.error {
    color: red;
    font-size: 12px;
}

.decorative-x {
    display: inline-block;
    transform-origin: center;
    font-size: 15px;
    transition: all 0.8s ease-in-out;
    line-height: 15px;
    color: #f8fafc;
}

.decorative-container:hover .decorative-x {
    transform: rotate(450deg);
}

.x-container {
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 0;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 25px;
    overflow: hidden;
}

.x-container-top {
    top: 0;
    bottom: 100%;
    align-items: flex-end;
}

.error-container {
    /*background-image: url('./assets/aa4237b0f5e7cd0885c2f6cd941b0e28 1.png');*/
    /*filter: invert(1);*/
    /*background-repeat: no-repeat;*/
    /*background-position: bottom;*/
    /*background-size: cover;*/
    /*height: 100vh;*/
}

.back-link {
    position: absolute;
    left: 10px;
    bottom: 10px;
    border-radius: 10px;
    border: 2px dotted #030303;
    transition: all 0.5s ease-in-out;
    padding: 0.5rem 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-weight: 200;
    background: #fff;
}

.back-link span {
    font-size: 1rem;
}

.back-link:hover {
    border: 2px dotted #fff;
    color: #fff;
    background: #030303;
}

.oops {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -10%);
    text-align: center;
    font-weight: 200;
    background: #fff;
    border: 2px dotted #030303;
    border-radius: 10px;
    padding: 1rem 2rem;
    transition: all 0.5s ease-in-out;
}

.oops:hover {
    border: 2px dotted #fff;
    color: #fff;
    background: #030303;
}

.spinner {
    /*background-image: url('./assets/');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sphereAOS {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ethos-container {
    background-image: url('./assets/hero.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 480px) {
    .header-link {
        font-size: 1rem;
    }

    .qa-width {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 1023px) {


}

@media (min-width: 1440px) {

}
